.updatepassword-section {
    padding: 0px !important;
    width: 100% !important;
    background: linear-gradient(to left top, #fce700bc 10%, rgba(4, 46, 51, 0.737) 70%);
    background-size: cover;
    background-position: center;
  }
  
  .updatepassword-form-area {
    width: 50% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center !important;
    margin-top: 0px !important;
    height: 450px !important;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.562),
                0px 8px 40px rgba(0, 0, 0, 0.411) !important;
    border-radius: 22px !important;
    background: linear-gradient(to left top, #fcf38bbc 10%, rgba(235, 248, 250, 0.737) 70%);
  }
  
  .upadatepass-title {
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to right, #02C0FC 30%, #001A69 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center !important;
    position: relative;
  }
  
  .upadatepass-title::after {
    content: "";
    background: url(./../../../assets/img/logo.png) no-repeat;
    background-repeat: no-repeat;
    width: 20%;
    height: 50px;
    position: absolute;
    margin-left: 10px;
  }
  
  .updatepassword-form {
    width: 100% !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: transparent !important;
  }
  
  /* Tablet screens */
  @media screen and (max-width: 767px) {
    .updatepassword-form-area {
      width: 80% !important;
    }
  }
  
  /* Mobile screens */
  @media screen and (max-width: 480px) {
    .updatepassword-section {
      padding: 0px !important;
      height: 100vh !important;
      width: 100% !important;
    }
  
    .update-container{
      padding: 0px !important;
      --bs-gutter-x: 0px !important;
      --bs-gutter-y: 0px !important;
    }
  
    .updatepassword-row{
      padding: 0px !important;
      --bs-gutter-x: 0px !important;
      --bs-gutter-y: 0px !important;
    }
    .updatepassword-form-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center !important;
      padding: 50px 10px !important;
      box-shadow: none !important;
      border-radius: 0px !important;
      width: 100% !important;
      background-color: rgba(255, 255, 255, 0.178) !important;
      height: 100dvh !important;
    }
  
    .updatepassword-form {
      padding: 0px 20px !important;
      margin: 0px !important;
      width: 100% !important;
      display: flex;
      justify-content: center;
  
    }
  
    .updatepassword-form-area .upadatepass-title {
      font-size: 25px;
    }
  }
  